@import '../index.scss';

.form-container {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;

    .form-title {
        margin-bottom: 0.65rem;
        font-size: 0.72rem;
        font-weight: 700;
    }

    input {
        padding: 1.1rem 1.3rem;
        margin-bottom: 1.55rem;
        border-radius: 10px;
        border: var(--light-grey) 1px solid;
        font-size: var(--font-size);
    }

    input::placeholder {
        color: var(--light-grey);
    }

    input:focus {
        border-color: var(--charcoal-grey);
        color: var(--charcoal-grey);
    }

    input:not(:placeholder-shown) {
        border-color: var(--charcoal-grey);
        color: var(--charcoal-grey);
    }

    #submit-button {
        padding: 1.25rem 1.3rem;
        border-style: none;
        border-radius: 10px;
        background-color: var(--dark-slate-grey);
        color: var(--white);
        font-size: 0.95rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    #submit-button:hover {
        background: linear-gradient(to right, var(--hot-pink), var(--vermellion));
    }
}