@import '../index.scss';

.form-container {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;

    .form-title {
        margin-bottom: 0.5rem;
        font-size: 0.72rem;
        font-weight: 700;
    }

    #email {
        padding: 1rem 1.2rem;
        border: var(--light-grey) 1px solid;
        border-radius: 10px;
        color: var(--light-grey);
        margin-bottom: 1.5rem;
        font-size: var(--font-size);
    }

    #email::placeholder {
        color: var(--light-grey);
    }

    #submit-button {
        padding: 1rem 1.2rem;
        border-style: none;
        border-radius: 10px;
        background-color: var(--dark-slate-grey);
        color: var(--white);
        font-size: 0.9rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
}