@import 'index.scss';

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-fam);
    font-size: var(--font-size);

    #root {

        .App {
            width: auto;
            height: auto;

            .main-container {
                display: none;
            }
        }
    }
}