:root {
  --tomato-color: hsl(4, 100%, 67%);
  --vermellion: hsl(14, 100%, 61%);
  --hot-pink: hsl(346, 100%, 66%);


  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --light-grey: hsl(240, 5%, 78%);
  --white: hsl(0, 0%, 100%);

  --font-size: 16px;
  --font-fam: "Roboto", sans-serif;
}